#contactPage {
  background-color: #512525;
  overflow: hidden;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

#contactContent {
  text-align: center;
}

.contactTextLine, .contactH2Line {
  position: relative;
  overflow-y: hidden;
}

.contactH3, .contactH3 *, .contactH2  {
  z-index: 1;
  color: #d3d3d3;
}

/*DESKTOP Layout*/
@media only screen and (min-width: 600px) {
  .contactDivider {
    height: 100px;
  }

  #contactContent {
    margin-top: 15vh;
  }

  #contactImage {
    margin-left: 50vw;
    margin-top: -28vh;
  }

  .contactTextLine {
    height: 70px;
  }

  .contactH3 {
    font-size: 35px;
  }

  .contactH2Line {
    height: 50px;
  }

  .contactH2 {
    font-size: 25px;
  }
}

/*MOBILE Layout*/
@media only screen and (max-width: 599px) {
  .contactDivider {
    height: 15vh;
    height: calc(var(--vh, 1vh) * 15);
  }

  #contactContent {
    margin-top: calc(var(--vh, 1vh) * 15);
  }

  #contactImage {
    margin-top: calc(var(--vh, 1vh) * -10);
    height: calc(var(--vh, 1vh) * 100);
  }

  .contactTextLine {
    height: 15vw;
  }

  .contactH3 {
    font-size: 7vw;
  }

  .contactH2Line {
    height: 11vw;
  }

  .contactH2 {
    font-size: 5.5vw;
  }
}
