#helloPage {
  background-color: #512525;
  overflow: hidden;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.nameLine {
  overflow: hidden;
  z-index: 2;
}

.nameLine * {
  font-weight: 600;
}

h2 {
  color: #ffe0e0;
  z-index: 1;
}

.titleLine {
  overflow: hidden;
  z-index: 1;
}

.helloH1 {
  z-index: 1;
  color: #ffe0e0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  position: relative;
}

.helloIcons {
  color: #ffe0e0;
  height: 50px !important;
  width: 50px !important;
}

.moveLeft {
  -webkit-animation: moveLeft 2s infinite; /* Safari 4+ */
  -moz-animation:    moveLeft 2s infinite; /* Fx 5+ */
  -o-animation:      moveLeft 2s infinite; /* Opera 12+ */
  animation:         moveLeft 2s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes moveLeft {
  0% {
    margin-left: 50vw;
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: 0;
    opacity: 0;
  }
}
@-moz-keyframes moveLeft {
  0% {
    margin-left: 50vw;
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: 0;
    opacity: 0;
  }
}
@-o-keyframes moveLeft {
  0% {
    margin-left: 50vw;
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: 0;
    opacity: 0;
  }
}
@keyframes moveLeft {
  0% {
    margin-left: 50vw;
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    margin-left: 0;
    opacity: 0;
  }
}

/*DESKTOP Layout*/
@media only screen and (min-width: 600px) {

  #content {
    padding-top: 5vh;
    padding-left: 10vw;
  }

  .helloSpacer {
    height: 5vh;
  }

  .nameLine {
    height: 16vh;
    margin-bottom: -2.5vh;
  }

  h2 {
    font-size: 8vh;
  }

  .titleLine {
    height: 8vh;
  }

  .helloH1 {
    font-size: 4vh;
  }

  #imageDiv {
    height: 85vh;

    margin-left: 50vw;
  }

  #helloPortrait {
    z-index: 0;
    height: 100%;
    margin-top: -43vh;
  }

  .helloIcons {
    display: none !important;
  }

}

/*MOBILE Layout*/
@media only screen and (max-width: 599px) {

  #content {
    padding-top: 5vw;
    padding-left: 10vw;
  }

  .helloSpacer {
    height: 10vw;
  }

  .nameLine {
    height: 20vw;
    margin-bottom: -2.5vw;
  }

  h2 {
    font-size: 10vw;
  }

  .titleLine {
    height: 11vw;
  }

  .helloH1 {
    font-size: 5.5vw;
  }

  #imageDiv {
    height: calc(115vw);
    max-height: 65vh;

    margin-top: calc(100vh - 150vw);
    margin-top: calc((var(--vh, 1vh) * 100) - 150vw);
    margin-left: 25vw;

    padding-top: 2.5vw;
    padding-left: 20vw;
  }

  #helloPortrait {
    z-index: 0;
    position: fixed;
    height: 100%;
    margin-top: -70vw;
  }
}
