/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #110e0e;
}

::-webkit-scrollbar-thumb {
	background: #603131;
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #603131;
}

#homePage {
  background-color: #110e0e;
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

#homeNameLine {
  overflow: hidden;
  margin-top: 5vh;
  margin-top: calc(var(--vh, 1vh) * 5);
	margin-bottom: 2vh;
  margin-bottom: calc(var(--vh, 1vh) * 2);
}

#homeH1Line {
  overflow: hidden;
	margin-top: 2.5vh;
  margin-top: calc(var(--vh, 1vh) * 2.5);
}

.homeName {
  color: #b29679;
	text-align: center;
}

#VEQImage {
	width: 100%;
	max-width: 500px;
	min-height: 200px;
  height: 25vh;
  height: calc(var(--vh, 1vh) * 25);
  border-radius: 5px;
  box-shadow: 5px 10px 10px #000;
}

#VEQlogo {
  max-height: 100%;
	max-width: 100%;
  filter: brightness(85%);
}

#homeMainSection {
	padding-left: 2.5vw;
	padding-right: 2.5vw;
}

.homeTextLine {
  position: relative;
  overflow-y: hidden;
}

.homeH1 {
  z-index: 1;
  font-size: 13vh;
  color: #d3d3d3;
}

.homeH3, .projectDescriptionText {
  z-index: 1;
  color: #ccd3de;
}

.homeH3 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.projectDescriptionText {
	text-align: center;
}

.projectLink {
  margin-top: -1vh;
  margin-top: calc(var(--vh, 1vh) * -1);
}

.projectTextLine {
  position: relative;
  overflow-y: hidden;

  margin-bottom: 1vh;
  margin-bottom: calc(var(--vh, 1vh) * 1);
}

/*DESKTOP Layout*/
@media only screen and (min-width: 700px) {

	#homeMainSection {
		text-align: center;
	}

	#homeNameLine, #homeH1Line {
		height: 90px;
	}

	.homeName {
		text-align: center;
		font-size: 45px;
	}

	.homeTextLine {
    height: 54px;
  }

  .homeH3 {
    font-size: 24px;
  }

	.projectTextLine {
    height: 68px;
  }

  .projectDescriptionText {
    font-size: 32px;
  }
}

/*MOBILE Layout*/
@media only screen and (max-width: 699px) {

	.homeTitleLine {
    margin-bottom: -7vh;
    margin-bottom: calc(var(--vh, 1vh) * -7);
  }

	#homeNameLine, #homeH1Line {
		height: 18vw;
	}

	.homeName {
		font-size: 9vw;
	}

	.homeTextLine {
    height: 10vw;
  }

	.homeH3 {
    font-size: 4.2vw;
  }

	.projectTextLine {
    height: 14vw;
  }

  .projectDescriptionText {
    font-size: 6vw;
  }
}
