html, body {
  margin: 0;
  /*height: calc(var(--vh, 1vh) * 100);*/
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: #ccd3de;
}

#root * {
  outline: none;
}

/*@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');*/

@import url('https://fonts.googleapis.com/css?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1, h2, h4, h5 {
  font-family: 'EB Garamond', serif;
  font-weight: normal;
}

h3,  {
  font-family: 'Montserrat', sans-serif;
}

Button {
  font-family: 'Montserrat', sans-serif !important;
}

.divider {
  height: 2.5vh;
  height: calc(var(--vh, 1vh) * 2.5);
}

#menu {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 5;
}

.menuButton {
  color: #d3d3d3 !important;
  border-width: 0 !important;
}

#currentPage {
  font-weight: bold !important;
  color: #fff !important;
}

.menuLine {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
}

.hoverGrow {
  transition: all .2s ease-in-out;
}

.hoverGrow:hover {
  transform: scale(1.025);
}

/*DESKTOP Layout*/
@media only screen and (min-width: 600px) {
  .menuLine {
    justify-content: flex-end;
    padding-right: 2.5vh;
  }

  .icon {
    font-size: 2.3vh !important;
    margin-bottom: -0.6vh;
  }
}

/*MOBILE Layout*/
@media only screen and (max-width: 599px) {
  .menuButton {
    border-radius: 0 !important;
  }
  .menuLine {
    justify-content: center;
    border-radius: 5px;
  }
  .icon {
    font-size: 2vh !important;
    margin-bottom: -0.4vh;
  }
}
